bin/
target/
build/
out/
.gradle/
.settings/
*.classpath
*.project
lib/
**/test-processes/**/*.properties
*.checkstyle
config/checkstyle/checkstyle.xml
config/checkstyle/checkstyle.xsl
*.pmd
config/pmd/*
.idea/
*.iml
**/*.tutorial
**/*.template
